@font-face {
  font-family: imbpSans;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: imbpSans-l;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}
@font-face {
  font-family: monsterrat;
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: norican;
  src: url("../assets/fonts/Norican/Norican-Regular.ttf");
}
